**Download data from kaggle**

In [ ]:
!pip install -U -q kaggle

In [14]:
!mkdir -p ~/.kaggle

In [15]:
!echo '{"username":"name","key":"key"}' > ~/.kaggle/kaggle.json

In [16]:
!chmod 600 ~/.kaggle/kaggle.json

In [18]:
!kaggle competitions download -c caterpillar-tube-pricing --force

Downloading sample_submission.csv to /Users/karthikmahendra/Desktop/DS-Unit-2-Applied-Modeling/module1-log-linear-regression
  0%|                                                | 0.00/225k [00:00<?, ?B/s]
100%|████████████████████████████████████████| 225k/225k [00:00<00:00, 3.55MB/s]
Downloading data.zip to /Users/karthikmahendra/Desktop/DS-Unit-2-Applied-Modeling/module1-log-linear-regression
100%|████████████████████████████████████████| 794k/794k [00:00<00:00, 7.73MB/s]

In [22]:
!unzip data.zip

Archive:  data.zip
   creating: competition_data/
  inflating: competition_data/bill_of_materials.csv
  inflating: competition_data/comp_adaptor.csv
  inflating: competition_data/comp_boss.csv
  inflating: competition_data/comp_elbow.csv
  inflating: competition_data/comp_float.csv
  inflating: competition_data/comp_hfl.csv
  inflating: competition_data/comp_nut.csv
  inflating: competition_data/comp_other.csv
  inflating: competition_data/comp_sleeve.csv
  inflating: competition_data/comp_straight.csv
  inflating: competition_data/comp_tee.csv
  inflating: competition_data/comp_threaded.csv
  inflating: competition_data/components.csv
  inflating: competition_data/specs.csv
  inflating: competition_data/test_set.csv
  inflating: competition_data/train_set.csv
  inflating: competition_data/tube.csv
  inflating: competition_data/tube_end_form.csv
  inflating: competition_data/type_component.csv
  inflating: competition_data/type_connection.csv
  inflating: competition_data/type_end_form.csv

**Unzip and examine the CSVs present**

In [62]:
from glob import glob
import pandas as pd

for path in glob('competition_data/*.csv'):
    df = pd.read_csv(path)
    print(path, df.shape)

competition_data/comp_threaded.csv (194, 32)
competition_data/comp_adaptor.csv (25, 20)
competition_data/tube_end_form.csv (27, 2)
competition_data/comp_straight.csv (361, 12)
competition_data/comp_tee.csv (4, 14)
competition_data/comp_boss.csv (147, 15)
competition_data/components.csv (2048, 3)
competition_data/comp_float.csv (16, 7)
competition_data/bill_of_materials.csv (21198, 17)
competition_data/comp_elbow.csv (178, 16)
competition_data/type_connection.csv (14, 2)
competition_data/train_set.csv (30213, 8)
competition_data/comp_sleeve.csv (50, 10)
competition_data/test_set.csv (30235, 8)
competition_data/tube.csv (21198, 16)
competition_data/comp_hfl.csv (6, 9)
competition_data/type_end_form.csv (8, 2)
competition_data/comp_other.csv (1001, 3)
competition_data/type_component.csv (29, 2)
competition_data/specs.csv (21198, 11)
competition_data/comp_nut.csv (65, 11)

**Choose tube and bill of materials csv along with training data**

In [83]:
trainval = pd.read_csv('competition_data/train_set.csv')
test = pd.read_csv('competition_data/test_set.csv')

In [84]:
trainval.head(5)

,tube_assembly_id,supplier,quote_date,annual_usage,min_order_quantity,bracket_pricing,quantity,cost
0,TA-00002,S-0066,2013-07-07,0,0,Yes,1,21.905933
1,TA-00002,S-0066,2013-07-07,0,0,Yes,2,12.341214
2,TA-00002,S-0066,2013-07-07,0,0,Yes,5,6.601826
3,TA-00002,S-0066,2013-07-07,0,0,Yes,10,4.687770
4,TA-00002,S-0066,2013-07-07,0,0,Yes,25,3.541561

In [81]:
test.head()

,id,tube_assembly_id,supplier,quote_date,annual_usage,min_order_quantity,bracket_pricing,quantity
0,1,TA-00001,S-0066,2013-06-23,0,0,Yes,1
1,2,TA-00001,S-0066,2013-06-23,0,0,Yes,2
2,3,TA-00001,S-0066,2013-06-23,0,0,Yes,5
3,4,TA-00001,S-0066,2013-06-23,0,0,Yes,10
4,5,TA-00001,S-0066,2013-06-23,0,0,Yes,25

In [28]:
tube = pd.read_csv('competition_data/tube.csv')

In [85]:
bill_mat = pd.read_csv('competition_data/bill_of_materials.csv')

In [77]:
tube.head()

,tube_assembly_id,material_id,diameter,wall,length,num_bends,bend_radius,end_a_1x,end_a_2x,end_x_1x,end_x_2x,end_a,end_x,num_boss,num_bracket,other
0,TA-00001,SP-0035,12.70,1.65,164.0,5,38.10,N,N,N,N,EF-003,EF-003,0,0,0
1,TA-00002,SP-0019,6.35,0.71,137.0,8,19.05,N,N,N,N,EF-008,EF-008,0,0,0
2,TA-00003,SP-0019,6.35,0.71,127.0,7,19.05,N,N,N,N,EF-008,EF-008,0,0,0
3,TA-00004,SP-0019,6.35,0.71,137.0,9,19.05,N,N,N,N,EF-008,EF-008,0,0,0
4,TA-00005,SP-0029,19.05,1.24,109.0,4,50.80,N,N,N,N,EF-003,EF-003,0,0,0

In [86]:
bill_mat.head()

,tube_assembly_id,component_id_1,quantity_1,component_id_2,quantity_2,component_id_3,quantity_3,component_id_4,quantity_4,component_id_5,quantity_5,component_id_6,quantity_6,component_id_7,quantity_7,component_id_8,quantity_8
0,TA-00001,C-1622,2.0,C-1629,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TA-00002,C-1312,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TA-00003,C-1312,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TA-00004,C-1312,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TA-00005,C-1624,1.0,C-1631,1.0,C-1641,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
bill_mat.isnull().sum()

tube_assembly_id        0
component_id_1       2049
quantity_1           2049
component_id_2       6412
quantity_2           6412
component_id_3      16407
quantity_3          16400
component_id_4      20591
quantity_4          20590
component_id_5      21106
quantity_5          21106
component_id_6      21172
quantity_6          21172
component_id_7      21191
quantity_7          21191
component_id_8      21197
quantity_8          21197
dtype: int64

In [88]:
tube.isnull().sum()

tube_assembly_id      0
material_id         279
diameter              0
wall                  0
length                0
num_bends             0
bend_radius           0
end_a_1x              0
end_a_2x              0
end_x_1x              0
end_x_2x              0
end_a                 0
end_x                 0
num_boss              0
num_bracket           0
other                 0
dtype: int64

**Change quote date to dt object**

In [89]:
trainval['quote_date'] = pd.to_datetime(trainval['quote_date'], infer_datetime_format=True)
test['quote_date'] = pd.to_datetime(test['quote_date'], infer_datetime_format=True)

**Merge tube and bill of materials with common feature tube_assembly_id. Then do the same with training data to obtain final train_validation dataset**

In [91]:
tube = tube.merge(bill_mat, on='tube_assembly_id')
trainval = trainval.merge(tube, on='tube_assembly_id')
test = test.merge(tube, on='tube_assembly_id')

trainval.shape, test.shape, tube.shape

((30213, 39), (30235, 39), (21198, 32))

**Check to see if train and test sets have same tube assemby IDs**

In [92]:
trainval_tube_assemblies = trainval['tube_assembly_id'].unique()
test_tube_assemblies = test['tube_assembly_id'].unique()
len(trainval_tube_assemblies), len(test_tube_assemblies)

(8855, 8856)

**Train test split based on tube assemblies**

In [93]:
from sklearn.model_selection import train_test_split
train_tube_assemblies, val_tube_assemblies = train_test_split(
    trainval_tube_assemblies, random_state=40)

In [94]:
train = trainval[trainval.tube_assembly_id.isin(train_tube_assemblies)]
val = trainval[trainval.tube_assembly_id.isin(val_tube_assemblies)]
train.shape, val.shape, trainval.shape

((22516, 39), (7697, 39), (30213, 39))

**Baseline calculations**

In [95]:
import numpy as np
from sklearn.metrics import mean_squared_log_error

def rmsle(y_true, y_pred):
    return np.sqrt(mean_squared_log_error(y_true, y_pred))

In [96]:
target = 'cost'
y_train = train[target]
y_val = val[target]
y_pred = np.full_like(y_val, fill_value=y_train.mean())
print('Baseline RMSLE:', rmsle(y_val, y_pred))

Baseline RMSLE: 0.9486220140675697

**feature engineering and fit model**

In [98]:
numeric_features = train.select_dtypes(include='number').columns.tolist()
cardinality = train.select_dtypes(exclude='number').nunique()
categorical_features = cardinality[cardinality <= 52].index.tolist()
features = numeric_features + categorical_features

X_train = train[features]
X_val = val[features]

In [99]:
def wrangle(X):
    X = X.copy()
    
    # Engineer date features
    X['quote_date'] = pd.to_datetime(X['quote_date'], infer_datetime_format=True)
    X['quote_date_year'] = X['quote_date'].dt.year
    X['quote_date_month'] = X['quote_date'].dt.month
    X = X.drop(columns='quote_date')
    
    # Drop tube_assembly_id because our goal is to predict unknown assemblies
    X = X.drop(columns='tube_assembly_id')
    
    X = X.fillna(0)
    return X

train_wrangled = wrangle(train)
val_wrangled = wrangle(val)

In [100]:
features = train_wrangled.columns.drop(target)

In [101]:
X_train = train_wrangled[features]
X_val = val_wrangled[features]

In [102]:
from sklearn.metrics import mean_squared_error

def rmse(y_true, y_pred):
    return np.sqrt(mean_squared_error(y_true, y_pred))

In [103]:
y_train_log = np.log1p(y_train)
y_val_log = np.log1p(y_val)

In [106]:
import category_encoders as ce
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import RandomForestRegressor

pipeline = make_pipeline(
    ce.OrdinalEncoder(), 
    RandomForestRegressor(n_estimators=100, random_state=42, n_jobs=-1)
)

pipeline.fit(X_train, y_train_log)
y_pred_log = pipeline.predict(X_val)
print('RMSLE after log transform and feature engineering:',rmse(y_val_log, y_pred_log) )

RMSLE after log transform and feature engineering: 0.30269814408958967

**Apply model on test data**

In [107]:
test_wrangled = wrangle(test)
X_test = test_wrangled.drop(columns='id')
all(X_test.columns == X_train.columns)

True

**reverse log transform**

In [108]:
y_pred_log = pipeline.predict(X_test)
y_pred = np.expm1(y_pred_log)

**Submission**

In [109]:
sample_submission = pd.read_csv('sample_submission.csv')
submission = sample_submission.copy()
submission['cost'] = y_pred
submission.to_csv('submission-01.csv', index=False)