<a href="https://colab.research.google.com/github/Rtrey29/DS-Unit-2-Applied-Modeling/blob/master/module1-log-linear-regression/Rich_Tregaro_DS5_log_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!wget https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/caterpillar/caterpillar-tube-pricing.zip

--2019-07-22 22:16:45--  https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/caterpillar/caterpillar-tube-pricing.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 823789 (804K) [application/zip]
Saving to: ‘caterpillar-tube-pricing.zip.3’

caterpillar-tube-pr 100%[===================>] 804.48K  --.-KB/s    in 0.04s

2019-07-22 22:16:45 (20.8 MB/s) - ‘caterpillar-tube-pricing.zip.3’ saved [823789/823789]

In [0]:
!unzip caterpillar-tube-pricing.zip

Archive:  caterpillar-tube-pricing.zip
replace sample_submission.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: sample_submission.csv
  inflating: data.zip

In [0]:
!unzip data.zip

Archive:  data.zip
replace competition_data/bill_of_materials.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: competition_data/bill_of_materials.csv
  inflating: competition_data/comp_adaptor.csv
  inflating: competition_data/comp_boss.csv
  inflating: competition_data/comp_elbow.csv
  inflating: competition_data/comp_float.csv
  inflating: competition_data/comp_hfl.csv
  inflating: competition_data/comp_nut.csv
  inflating: competition_data/comp_other.csv
  inflating: competition_data/comp_sleeve.csv
  inflating: competition_data/comp_straight.csv
  inflating: competition_data/comp_tee.csv
  inflating: competition_data/comp_threaded.csv
  inflating: competition_data/components.csv
  inflating: competition_data/specs.csv
  inflating: competition_data/test_set.csv
  inflating: competition_data/train_set.csv
  inflating: competition_data/tube.csv
  inflating: competition_data/tube_end_form.csv
  inflating: competition_data/type_component.csv
  inflating: competition_data/type_connection.csv
  inflating: competition_data/type_end_form.csv

### Get filenames and shapes

In [0]:
from glob import glob
import pandas as pd

for path in glob('competition_data/*.csv'):
    df = pd.read_csv(path)
    print(path, df.shape)

competition_data/type_end_form.csv (8, 2)
competition_data/comp_elbow.csv (178, 16)
competition_data/tube_end_form.csv (27, 2)
competition_data/type_connection.csv (14, 2)
competition_data/comp_adaptor.csv (25, 20)
competition_data/bill_of_materials.csv (21198, 17)
competition_data/comp_sleeve.csv (50, 10)
competition_data/comp_straight.csv (361, 12)
competition_data/comp_hfl.csv (6, 9)
competition_data/components.csv (2048, 3)
competition_data/comp_float.csv (16, 7)
competition_data/comp_threaded.csv (194, 32)
competition_data/test_set.csv (30235, 8)
competition_data/comp_nut.csv (65, 11)
competition_data/tube.csv (21198, 16)
competition_data/train_set.csv (30213, 8)
competition_data/specs.csv (21198, 11)
competition_data/comp_other.csv (1001, 3)
competition_data/type_component.csv (29, 2)
competition_data/comp_boss.csv (147, 15)
competition_data/comp_tee.csv (4, 14)

In [0]:
import numpy as np
from sklearn.metrics import mean_squared_log_error

def rmsle(y_true, y_pred):
    return np.sqrt(mean_squared_log_error(y_true, y_pred))

In [0]:
trainval = pd.read_csv('competition_data/train_set.csv')
test = pd.read_csv('competition_data/test_set.csv')

In [0]:
trainval.head(10)

  tube_assembly_id supplier  quote_date  ...  bracket_pricing  quantity       cost
0         TA-00002   S-0066  2013-07-07  ...              Yes         1  21.905933
1         TA-00002   S-0066  2013-07-07  ...              Yes         2  12.341214
2         TA-00002   S-0066  2013-07-07  ...              Yes         5   6.601826
3         TA-00002   S-0066  2013-07-07  ...              Yes        10   4.687770
4         TA-00002   S-0066  2013-07-07  ...              Yes        25   3.541561
5         TA-00002   S-0066  2013-07-07  ...              Yes        50   3.224406
6         TA-00002   S-0066  2013-07-07  ...              Yes       100   3.082521
7         TA-00002   S-0066  2013-07-07  ...              Yes       250   2.999060
8         TA-00004   S-0066  2013-07-07  ...              Yes         1  21.972702
9         TA-00004   S-0066  2013-07-07  ...              Yes         2  12.407983

[10 rows x 8 columns]

In [0]:
test.head(10)

   id tube_assembly_id supplier  ... min_order_quantity  bracket_pricing  quantity
0   1         TA-00001   S-0066  ...                  0              Yes         1
1   2         TA-00001   S-0066  ...                  0              Yes         2
2   3         TA-00001   S-0066  ...                  0              Yes         5
3   4         TA-00001   S-0066  ...                  0              Yes        10
4   5         TA-00001   S-0066  ...                  0              Yes        25
5   6         TA-00001   S-0066  ...                  0              Yes        50
6   7         TA-00001   S-0066  ...                  0              Yes       100
7   8         TA-00001   S-0066  ...                  0              Yes       250
8   9         TA-00003   S-0066  ...                  0              Yes         1
9  10         TA-00003   S-0066  ...                  0              Yes         2

[10 rows x 8 columns]

In [0]:
trainval['quote_date']= pd.to_datetime(trainval['quote_date'], infer_datetime_format=True)
test['quote_date'] = pd.to_datetime(test['quote_date'], infer_datetime_format=True)

In [0]:
trainval['quote_date'].describe()

count                   30213
unique                   1781
top       2013-10-01 00:00:00
freq                     2877
first     1982-09-22 00:00:00
last      2017-01-01 00:00:00
Name: quote_date, dtype: object

In [0]:
test['quote_date'].describe()

count                   30235
unique                   1778
top       2013-09-01 00:00:00
freq                     2992
first     1985-11-16 00:00:00
last      2017-01-01 00:00:00
Name: quote_date, dtype: object

### Does the test set have different tube assemblies?

In [0]:
trainval_tube_assemblies = trainval['tube_assembly_id'].unique()
test_tube_assemblies = test['tube_assembly_id'].unique()
len(trainval_tube_assemblies), len(test_tube_assemblies)

(8855, 8856)

### Make the validation set like the test set

In [0]:
from sklearn.model_selection import train_test_split
train_tube_assemblies, val_tube_assemblies = train_test_split(
    trainval_tube_assemblies, random_state=42
)

In [0]:
len(train_tube_assemblies), len(val_tube_assemblies)

(6641, 2214)

In [0]:
set(train_tube_assemblies) & set(val_tube_assemblies)

set()

In [0]:
train = trainval[trainval.tube_assembly_id.isin(train_tube_assemblies)]
val = trainval[trainval.tube_assembly_id.isin(val_tube_assemblies)]
train.shape, val.shape, trainval.shape

((22628, 8), (7585, 8), (30213, 8))

In [0]:
len(train) + len(val) ==len(trainval)

True

In [0]:
target = 'cost'
y_train = train[target]
y_val = val[target]
y_pred = np.full_like(y_val, fill_value=y_train.mean())
print('Validation RMSLE, Mean Baseline:', rmsle(y_val,y_pred))

Validation RMSLE, Mean Baseline: 0.9418101276064408

In [0]:
from sklearn.metrics import r2_score
print('Validation R^2, Mean, Baseline:', r2_score(y_val, y_pred))

Validation R^2, Mean, Baseline: -4.701447715138585e-06

In [0]:
features = ['quantity']
X_train = train[features]
X_val = val[features]

In [0]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=100, random_state=42, n_jobs=-1)
model.fit(X_train, y_train)
r2= model.score(X_val, y_val)
print('Validation R^2', r2)

Validation R^2 0.08879518736792147

In [0]:
y_pred = model.predict(X_val)
print(f'Validation RMSLE, Random Forest with {features}')
print(rmsle(y_val, y_pred))

Validation RMSLE, Random Forest with ['quantity']
0.6908805822519186

### Log transform regression target with right-skewed distribution

In [0]:
y_train_log = np.log1p(y_train)

### refit the model with log transformed target

In [0]:
model.fit(X_train, y_train_log)
y_pred_log = model.predict(X_val)
y_pred = np.expm1(y_pred_log)
rmsle(y_val, y_pred)

0.622925465880199

In [0]:
!pip install category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.6/dist-packages (2.0.0)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.0)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.24.2)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.21.2)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.16.4)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.3.0)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders) (1.12.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.13.2)

In [0]:
def wrangle(X):
    X = X.copy()
    
#     Engineer the features
    X['quote_date'] = pd.to_datetime(X['quote_date'], infer_datetime_format=True)
    X['quote_date_year'] = X['quote_date'].dt.year
    X['quote_date_month'] = X['quote_date'].dt.month
    X=X.drop(columns='quote_date')
    
#     merge tube data
    tube = pd.read_csv('competition_data/tube.csv')
    X = X.merge(tube, how='left')
    
    specs = pd.read_csv('competition_data/specs.csv')
    X = X.merge(specs, how='left')

    #     drop assembly_id because the goal is to predict unk assemblies
    X = X.drop(columns='tube_assembly_id')
    
    return X

train_wrangled = wrangle(train)
val_wrangled = wrangle(val)
features = train_wrangled.columns.drop(target)
X_train = train_wrangled[features]
X_val = val_wrangled[features]

import category_encoders as ce
from sklearn.pipeline import make_pipeline

pipeline = make_pipeline(
    ce.OrdinalEncoder(),
    RandomForestRegressor(n_estimators=100, random_state=42, n_jobs=-1)
)

pipeline.fit(X_train, y_train_log)
y_pred_log = pipeline.predict(X_val)
y_pred = np.expm1(y_pred_log)
# rmse(y_val_log, y_pred_log)
rmsle(y_val, y_pred)

0.308466078550845

In [0]:
test_wrangled = wrangle(test)
X_test = test_wrangled.drop(columns='id')
all(X_test.columns == X_train.columns)

True

In [0]:
y_pred_log = pipeline.predict(X_test)
y_pred = np.expm1(y_pred_log)

sample_submission = pd.read_csv('sample_submission.csv')
submission = sample_submission.copy()
submission['cost'] = y_pred
submission.to_csv('submission-01.csv', index=False)

In [0]:
from google.colab import files
files.download('submission-01.csv')